<!DOCTYPE>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="The personal website of Takashi Nakano">
    <meta name="keywords" content="Takashi, Nakano, blab, blab.im, harf.io, twitter">
    <meta name="robots" content="index, follow">

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel=icon href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/main.css">

    <title>Ronald Fusco</title>

  </head>

  <body>
    <div id="wrapper">
    <% include partials/nav.ejs %>



    <div id="content-con">
      <div id="about-icon">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
      </div>
      <h1>About:</h1>
      <div id="about-content">
      <p>
        Voluptatem qui quo sequi. Reprehenderit iure pariatur dolor error aliquam cumque sunt. Nulla et non tempora assumenda quia suscipit et quas. Voluptatem quos rerum maiores quia numquam. Vero et minus maxime aut adipisci. Nobis tempora deserunt debitis recusandae sunt suscipit voluptatem.
Et dolorem aut quod. Non voluptas quod sequi. Ducimus corrupti maiores nemo mollitia maxime fugiat ut. Temporibus consequatur eos soluta. Consequatur adipisci quos omnis.
      </p>
    </div>

    </div>







    </div>

    <script src="main.js"></script>
  </body>
</html>
