* {
    box-sizing: border-box;
}

body {
  background: #000000;
  color: #00FF00;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

a {
  color: #00FF00;
}

#nav-con  {
  background: black;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  border-bottom: 2px dashed #00FF00;
}

nav a:link, a:visited {
  text-decoration: none;
  padding: 20px 16px;
  text-align: center;
  float: left;
}

nav a:hover, a:active {
  background: #282828;
}

#content-con {
  justify-content: center;
  flex: 1;
  margin-top: 40px;
  align-self: center;
}

.fa-envelope-open {
  font-size: 164px;
  opacity: 0.5;
  color: #00FF00;
}

.fa-envelope-open:hover {
  opacity: 1;
}

#submit-form {
  margin-top: 40px;
}

input ,textarea {
  width: 168px;
  opacity: 0.5;
  background: #00FF00;
}

input:hover ,textarea:hover {
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: black;
}

textarea::-webkit-input-placeholder {
  color: black;
}

#about-icon{
  display: flex;
  justify-content: center;
}

.fa-user-secret {
  font-size: 164px;
  opacity: 0.5;
  color: #00FF00;
}

.fa-user-secret:hover {
  opacity: 1;
}


#about-content {
    width: 230px;
  overflow-y: auto;
}

/* Home page styling starts here */

#home-container {
  display: flex;
  height: 100%;
}

#twitter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#facebook {
  display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.fa-facebook-square {
  font-size: 264px;
  opacity: 0.5;
  color: #00FF00;
}

.fa-facebook-square:hover {
    opacity: 1;
}

.fa-twitter-square {
  font-size: 264px;
  opacity: 0.5;
  color: #00FF00;
}

.fa-twitter-square:hover {
  opacity: 1;
}


/* comment section starts here */

#cmt-icon {
  display: flex;
  justify-content: center;
}

.fa-commenting {
  font-size: 164px;
  opacity: 0.5;
  color: #00FF00;
}

.fa-commenting:hover {
  opacity: 1;
}

#cmt-container {
  background: #00FF00;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  opacity: 0.5;
  border: 12px solid;
  border-radius: 2px;
}

#cmt-container input {
  background: black;
  margin-top: 10px;
  opacity: 0.8;
  height: 50px;
  border-radius: 4px;
  color: #00FF00;
  font-size: 20px;
}

#cmt-container button {
  background: #000000;
  height: 40px;
  opacity: 0.8;
  border-radius: 4px;
  color: #00FF00;
}

#cmt-container button:hover {
  opacity: 1;
}

#cmt-container ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

#cmt-container li{
  background: #000000;
  margin-top: 10px;
  opacity: 0.8;
  height: 50px;
  border-radius: 4px;

}

#cmt-container li:hover {
  opacity: 1;
}
